@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(238, 245, 241);
    font-family: 'Roboto', sans-serif;
}

.header{
    width: 70%;
    height: 100px;
    margin: 50px auto 0 auto;
    border-radius: 6px;
    border: 2px solid rgb(110, 107, 107);
    display: flex;
    flex-direction: row;
}
#form{
    height: 100px;
    margin: 0 auto 0 auto;
    justify-content: flex-start;
}
#input{
    border: 2px solid rgb(110, 107, 107);
    background-color: white;
    border-radius: 6px;
}
.button{
    height: 100px;
    margin: 0 auto 0 auto;
    justify-content: flex-end;
}
.btn{
    border: 2px solid rgb(110, 107, 107);
    background-color: white;
    border-radius: 6px;
}
.btn:hover{
    background-color: wheat;
}
#button{
    margin-top: 40px;

}
.results{
    width: 70%;
    margin: 20px auto 0 auto;
}
.results p{
    margin: 0 0 0 20px;
    padding-bottom: 50px;
}